force-app/main/default/flows/Oktana_Get_Slots_by_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Let user get slots available by Specialist(User).</description>
    <environments>Default</environments>
    <interviewLabel>Oktana - Get Slots by User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oktana - Get Slots by User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Schedule_Info</name>
        <label>Get Schedule Info</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Slots</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Technician__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userInput.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OperatingHours</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Slots</name>
        <label>Get Slots</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OperatingHoursId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Schedule_Info.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Free</stringValue>
            </value>
        </filters>
        <object>TimeSlot</object>
        <outputReference>slotList</outputReference>
        <queriedFields>DayOfWeek</queriedFields>
        <queriedFields>StartTime</queriedFields>
        <queriedFields>EndTime</queriedFields>
        <queriedFields>Speciality__c</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Schedule_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>slotList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>TimeSlot</objectType>
    </variables>
    <variables>
        <name>userInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
