force-app/main/default/flows/Oktana_Get_Technician_Users_by_Speciality.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_User_Technician_Ids</name>
        <label>Set User Technician Ids</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>technicianIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_User_Technicians.Specialist__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_User_Technicians</targetReference>
        </connector>
    </assignments>
    <description>Let users get all technicians by Speciality.</description>
    <environments>Default</environments>
    <interviewLabel>Oktana - Get Technician Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oktana - Get Technician Users by Speciality</label>
    <loops>
        <name>Loop_User_Technicians</name>
        <label>Loop User Technicians</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_User_Technicians</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_User_Technician_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Technicians</name>
        <label>Get User Technicians</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_User_Technicians</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Specialty__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>specialityInput.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>specialityInput.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User_Technician_Specialization__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Specialist__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>technicianIdList</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>userList</outputReference>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Technicians</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>specialityInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Technician_Specialty__c</objectType>
    </variables>
    <variables>
        <name>technicianIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
