force-app/main/default/flows/Oktana_Create_Smart_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>is_there_Free_Slots</name>
        <label>is there Free Slots</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_all_Free_Slots.slotList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_a_new_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Let agent to create smart event based on user, technician, slot, specialty.</description>
    <environments>Default</environments>
    <formulas>
        <name>defaultEndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!StartDateTime} + (1/24)</expression>
    </formulas>
    <interviewLabel>Oktana - Create Smart Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oktana - Create Smart Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_Event</name>
        <label>Create new Event</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Event_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>EventName</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Event_Record</name>
        <label>Get Event Record</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_new_Event</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>eventRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>StartDateTime</queriedFields>
        <queriedFields>EndDateTime</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_all_Free_Slots</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>create_a_new_Case</name>
        <label>create a new Case</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Create_new_Event</targetReference>
        </connector>
        <flowName>Oktana_Create_Case</flowName>
        <inputAssignments>
            <name>contactVar</name>
            <value>
                <elementReference>contactInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>descriptionVar</name>
            <value>
                <elementReference>descriptionInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>priorityInput</name>
            <value>
                <elementReference>priorityInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SubjectVar</name>
            <value>
                <elementReference>SubjectInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>technicianInput</name>
            <value>
                <elementReference>userInput</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>get_all_Free_Slots</name>
        <label>get all Free Slots</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>is_there_Free_Slots</targetReference>
        </connector>
        <flowName>Oktana_Get_All_Free_Slots</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contactInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>descriptionInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EndDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>defaultEndDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>EventName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>priorityInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Normal</stringValue>
        </value>
    </variables>
    <variables>
        <name>StartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubjectInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>userInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
